#contents{
    border: 2px solid;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; 
    font-size: 30px;
    border-radius: 20px;
    background: linear-gradient(180deg,rgb(200, 193, 132),rgb(124, 203, 124) );
    
}
.inputWea{
    display: flex;
    align-items: center;
    width: 40vw;
    margin: auto;
    padding-bottom: 20px;
}
#inputCity{
    width: 50vw;
    font-size: 15px;
    font-family: cursive,Arial, Helvetica, sans-serif;
    margin-right: 10px;
}
#submit{
    font-size: 20px;
    height: 25px;
    background-color: brown;
    color: yellow;

}
